
html {
	margin: 15px;
	padding: 15px;
	}
body { 
	font: 75% georgia, sans-serif;
	color: black; 
	margin: 10px; 
	padding: 10px;
	background-color:#999;
	font-size:62.5%;
	}
	
p { 
	margin-top: 0; 
	text-align: justify;
	font-size:100%;
	}
	
h1 { 
	font: italic normal georgia, sans-serif;
	font-size: 36px;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: black;
	margin-top: 20px;
	display: block;
	width: 330px;
	height: 87px;
	float: left;
	text-align:left;
	text-indent: 1%;
	white-space: nowrap;
	}
	
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: green;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: blue;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: red;
	}

specific divs 
.header { 
	background-color: azure;
	min-width: 470px;
	width: 50%;
	}
	
#name {
	background-color: #ccffff;
	min-width: 470px;
}
	
header nav {
  	display: flex;
  	justify-content: flex-end;
  	font: 150% georgia, sans-serif;
  	background-color: azure;
	text-indent: 3%;
}

header {
	padding-top: 20px;
}

footer { 
	text-align: center;
	padding:3em;
	font: italic 1.1em/2.2 georgia; 
	}

footer a:link, footer a:visited { 
	margin-right: 20px; 
}

footer p{
	display:inline-block;
	font: 100% georgia, sans-serif;
	color: black; 
	
}
img{
	width:50%;max-width:50%
}
